.menu {
	width: 60px;
	height: 100%;
	position: fixed;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: var(--gray);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	transition: 1s all ease-in-out;
	overflow: hidden;
	z-index: 999;
}

.menu .icon-menu {
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.menu .icon-menu .icon {
	margin-left: 5px;
	width: 50px;
	height: 40px;
	position: relative;
	cursor: pointer;
}

.menu .icon-menu .icon::before {
	content: "";
	width: 30px;
	height: 2px;
	position: absolute;
	left: 50%;
	top: 40%;
	transform: translate(-50%, -50%);
	background-color: var(--blue);
	transition: 1s all ease-in-out;
	border-radius: 10px;
}

.menu .icon-menu .icon::after {
	content: "";
	width: 30px;
	height: 2px;
	position: absolute;
	left: 50%;
	top: 60%;
	transform: translate(-50%, -50%);
	background-color: var(--blue);
	transition: 1s all ease-in-out;
	border-radius: 10px;
}

.menu .logo-menu>img {
	width: 80px;
	height: 80px;
	object-fit: cover;
	object-position: center;
}

.menu .conetent-menu {
	flex-grow: 1;
	width: 100%;
}

.menu .conetent-menu>ul {
	width: 100%;
	height: 100%;
	list-style: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.menu .conetent-menu>ul>li,
.menu .conetent-menu>ul>li>.link {
	color: var(--blue);
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: .5s all ease-in-out;
	cursor: pointer;
}

.menu .conetent-menu>ul>li {
	width: 210px;
	margin: 5px auto;
	padding: 5px 2px;
	border-radius: 5px;
}

.menu .conetent-menu>ul>li>.link {
	width: 100%;
	text-decoration: none;
}

.menu .conetent-menu>ul>li>.link>p,
.menu .conetent-menu>ul>li>p {
	text-align: center;
	flex-grow: 1;
}

.menu .conetent-menu>ul>li>.link>i {
	font-size: 25px;
	width: 50px;
	text-align: center;
}

.menu .conetent-menu>ul>li>.link .profile {
	width: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}


.menu .conetent-menu>ul>li>.link .profile>img {
	width: 30px;
	height: 30px;
	border-radius: 10px;
	object-fit: cover;
	object-position: center;
}

.menu .conetent-menu>ul>li:hover {
	background-color: rgba(0, 0, 0, 0.08);
}

.menu .social-menu {
	width: 90%;
	height: 150px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.menu .social-menu a {
	text-decoration: none;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	overflow: hidden;
}

.menu .social-menu a i,
.menu .social-menu a svg {
	padding: 10px;
	font-size: 2rem;
	border-radius: 10px;
	transition: .7s all;
	z-index: 10;
}

.menu .social-menu a:hover i {
	color: var(--gray);
}

.menu .social-menu a:hover svg {
	color: var(--gray);
}

.hover-effect::after {
	content: "";
	width: 10px;
	height: 10px;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	transition: .7s all;
	opacity: 0;
}

.hover-effect:hover:after {
	opacity: 1;
	transform: translate(-50%, -50%) scale(11);
}


.menu .social-menu .instagram {
	color: crimson;
}

.menu .social-menu .instagram::after {
	background-color: crimson;
}

.menu .social-menu .linkedin {
	color: #0e76a8;
}

.menu .social-menu .linkedin::after {
	background-color: #0e76a8;
}

.menu .social-menu .gmail {
	color: #DB4437;
}

.menu .social-menu .gmail::after {
	background-color: #DB4437;
}


.line {
	position: relative;
	width: 100%;
}

.line::after {
	content: "";
	width: 90%;
	height: 1px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: var(--blue);
	transition: 1s all ease-in-out;
}



.show-menu {
	width: 220px;
}


.show-menu .icon-menu .icon::before {
	transform: translate(-50%, 0px) rotate(45deg);
}

.show-menu .icon-menu .icon::after {
	transform: translate(-50%, -7px) rotate(-45deg);
}