.home {
	width: calc(100% - 60px);
	height: 100%;
	margin-right: 60px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	overflow-y: auto;
	position: relative;
	top: 0;
	left: 0;
}


.home header {
	width: 100%;
	position: relative;
}

.home header>img {
	width: 100%;
	height: auto;
	object-position: center;
	object-fit: cover;
	position: relative;
	left: 0;
	top: 0;
	filter: brightness(60%) grayscale(100%);
}

.home header .content-header-r,
.home header .content-header-l {
	width: 90%;
	height: 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: absolute;
	color: var(--gray);
}

.home header .content-header-r {
	align-items: flex-start;
	right: 5%;
	bottom: 10%;
}

.home header .content-header-r h2,
.home header .content-header-r h3 {
	text-align: right;
	width: 100%;
	word-spacing: -6.5px;
	margin: 0;
}

.home header .content-header-l {
	align-items: flex-start;
	left: 5%;
	top: 5%;
}


.home header .content-header-l h2,
.home header .content-header-l h3 {
	text-align: left;
	width: 100%;
	letter-spacing: -2.5px;
	margin: 0;
}

.home header .content-header-l h2::first-letter,
.home header .content-header-r h2::first-letter {
	color: var(--blue);
}



.home header .content-header-r h2,
.home header .content-header-r h3,
.home header .content-header-l h2,
.home header .content-header-l h3 {
	background-image: linear-gradient(-45deg, var(--blue), var(--white) 70%);
	padding: 2px 10px;
	background-clip: text;
	color: transparent;
}















.home .home-content {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	padding: 10px;
}

.framework-part {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	overflow: hidden;
}


.framework-part .framework {
	display: flex;
	justify-content: center;
	align-items: stretch;
	flex-wrap: wrap;
	width: 100%;
}

.website-part {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}


.website-part .website {
	display: flex;
	justify-content: center;
	align-items: stretch;
	flex-wrap: wrap;
	width: 100%;
}






@media only screen and (min-width : 500px) and (max-width : 800px) {

	.home header .content-header-r h3,
	.home header .content-header-l h3 {
        font-size: 1rem;
	}
}

@media only screen and (max-width : 499px) {

	.home header .content-header-r h3 {
		display: none;
        
    }

	.home header .content-header-l h3 {
		display: none;
	}

	.home header .content-header-l {
        top: 0;
		height: 50px;
	}
	.home header .content-header-l h2 {
        font-size: 1.5rem;
    }

	.home header .content-header-r {
		bottom: 0%;
		height: 50px;
	}

	.home header .content-header-r h2 {
		font-size: 1.5rem;
	}
}