:root {
	--blue: #24bfeb;
	--white: #fffeff;
	--gray: #ededed;
	--gray-black: #cecece;
}




body,
html,
#root {
	width: 100%;
	height: 100%;
	background-color: var(--gray-black);
	display: flex;
	justify-content: center;
	align-items: center;
}

* {
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
}



.line {
	position: relative;
	width: 100%;
	margin: 10px 0;
}

.line::after {
	content: "";
	width: 99%;
	height: 1px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: var(--blue);
	transition: 1s all ease-in-out;
}


.title {
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.title>h3 {
	color: var(--blue);
	text-align: right;
	position: relative;
}

.title>h3::before {
	content: "";
	width: 50px;
	height: 5px;
	background-color: var(--gray);
	position: absolute;
	right: 100%;
	top: 50%;
	transform: translateY(50%);
}

.title>h3::after {
	content: "";
	width: 50px;
	height: 5px;
	background-color: var(--gray);
	position: absolute;
	left: 100%;
	top: 50%;
	transform: translateY(50%);
}

.title-sub {
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.title-sub>h4 {
	color: var(--blue);
	text-align: right;
}



::-webkit-scrollbar {
	width: 10px;
  }
  
  ::-webkit-scrollbar-track {
	background: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb {
	background: #888;
  }
  
  ::-webkit-scrollbar-thumb:hover {
	background: #555;
  }