.slider {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.slider .next,
.slider .prev {
	position: absolute;
	top: 85%;
	transform: translateY(-50%);
	background-color: rgba(0, 0, 0, 0.1);
	border: none;
	padding: 15px 25px;
	border-radius: 15px;
	color: var(--gray);
	font-size: 25px;
	transition: .5s all;
	outline: none;
	z-index: 10;
}


.slider .next:hover,
.slider .prev:hover {
	background-color: rgba(0, 0, 0, 0.3);
}

.slider .next {
	right: 0%;
}

.slider .prev {
	left: 0%;
}

.slider .slider-content {
	width: 100%;
	position: relative;
	height: 450px;
	min-height: 300px;
	overflow: hidden;
}

.slider .slider-content .slider-part {
	width: 50%;
	max-width: 300px;
	min-width: 100px;
	height: 90%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: all 1s ease-in-out;
	overflow: hidden;
}

.slider .slider-content .slider-part::before {
	content: "";
	width: 5px;
	height: 300%;
	position: absolute;
	left: 0;
	bottom: 0;
	background-color: rgba(225, 225, 225, .9);
	z-index: 5;
	transform: rotate(-45deg);
	box-shadow: 5px 5px 10px 10px rgba(225, 225, 225, .8), -5px -5px 10px 10px rgba(225, 225, 225, .8);
	animation: shadow 7s linear both infinite;
}

.slider .slider-content .big {
	transform: translate(-50%, -50%) scale(1.4);
}


.slider .slider-content .slider-part img {
	width: 100%;
	height: auto;
	border-radius: 5px;
}

.slider .slider-content .slider-part p {
	width: 100%;
	text-align: center;
	opacity: 0;
	transition: .5s all ease-in-out;
	word-spacing: -2px;
	font-size: 10px;
	color: var(--blue);
}



@media only screen and (min-width : 670px) {
	.slider .slider-content .slider-part p {
		font-size: 20px;
	}
}